{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('employee') }}">Employee</a>
        </li>

        <li>
            <a href="{{ path('position') }}">Position</a>
        </li>
        <li>
            <a href="{{ path('course') }}">Course</a>
        </li>

        <li>
            <a href="{{ path('department') }}">Department</a>
        </li>

        <li>
            <a href="{{ path('room') }}">Room</a>
        </li>
        <li>
            <a href="{{ path('coursetype') }}">CourseType</a>
        </li>
        <li>
            <a href="{{ path('subjecttype') }}">SubjectType</a>
        </li>
    </ul>


    {% block contents %}
    {% endblock %}

{% endblock %}
